# ----------------------
# Node.js / React
# ----------------------
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# Python
# ----------------------
venv/
__pycache__/
*.pyc
.env

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/
.DS_Store

# ----------------------
# Misc / Logs / Temp
# ----------------------
*.log
*.tmp
